@font-face {
  font-family: "MontserratEL";
  src: local("Montserrat-ExtraLight.ttf"),
    url("./assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Norwester";
  src: local("norwester.otf"),
    url("./assets/fonts/norwester.otf") format("opentype");
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.fontNw {
  font-family: "Norwester";
}

.fontMst {
  font-family: "Montserrat";
}